body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #386e5e; */
    background: linear-gradient(45deg, #4158d0, #c850c0);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 999;
    background: #22282e;
}

#topbar {
    z-index: 1;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer p {
    padding-top: 15px;
}

#footer a {
    color: #139971;
    text-decoration: none;
}

.row {
    margin-right: 0%;
    margin-left: 0%;
}

.table-beige {
    background-color: #494914;
    /* Use your desired beige color code */
}



#buttonholder a,
#buttonholder button {
    margin-left: 10px;
    margin-right: 10px;
}

#topicbuttonholder a {
    margin-left: 20px;
    margin-right: 20px;
}

